<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
  <div class="container-fluid">
    <div class="row">
  
      <div class="main-content">
        <div class="title-wrapped">
          <h1 class="title">Agenda</h1>
          <p class="description">Seus contatos estão abaixo</p>
        </div>
  
        <%- include('includes/messages') %>
  
        <% if(contatos.length > 0) { %>
        <div class="table-contacts">
          <table class="table my-3">
            <% contatos.forEach(contato => { %>
            <tr>
              <td><%= contato.nome %></td>
              <td><%= contato.sobrenome %></td>
              <td><%= contato.telefone %></td>
              <td><%= contato.email %></td>
              <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
              <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
            </tr>
            <% }); %>
          </table>
        </div>
        <% } else { %>
          <p class="text-center lead">Não existem contatos na sua agenda.</p>
        <% } %>
  
      </div>
  
    </div>
  </div>
</main>

<%- include('includes/footer') %>
