<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
  <div class="container-fluid">
    <div class="logged-infos">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Olá <%= user.email %></h1>

        <%- include('includes/messages'); %>

        <ul>

          <li class="nav-item">
            <a class="nav-link" href="/login/logout">Sair</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="/site-register/index">Cadastrar sítio</a>
          </li>

        </ul>

      </div>

      <div class="col-lg-2"></div>
    </div>
  </div>
</main>

<%- include('includes/footer') %>