<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
  <div class="register-page container-fluid">

    <div class="title-wrapper">
      <h1 class="page-title">Sítios Arqueologicos</h1>
      <p class="page-subtitle">Crie ou edite cadastros de sitios arqueologicos.</p>
    </div>

    <div class="form-wrapper">

      <%- include('includes/messages') %>

      <% if(site._id) { %>
      <form action="/site-register/edit/<%= site._id %>" method="POST">
      <% } else { %>
      <form action="/site-register/register" method="POST">
      <% } %>

        <input type="hidden" name="_csrf" value=<%= csrfToken %>>

        <div class="form-group">
          <label>Nome do sítio</label>
          <input value="<%= site.nome %>" type="text" class="form-control" name="nome">
        </div>

        <div class="form-group">
          <label>Tipo de sítio</label>
          <input value="<%= site.tipo %>" type="text" class="form-control" name="tipo">
        </div>

        <div class="form-group">
          <label>Latitude</label>
          <input value="<%= site.lat %>" type="text" class="form-control" name="lat" placeholder="-32...">
        </div>
        <div class="form-group">
          <label>Longitude</label>
          <input value="<%= site.long %>" type="text" class="form-control" name="long" placeholder="-52...">
        </div>

        <div class="form-group">
          <label>Municipio</label>
          <input value="<%= site.municipio %>" type="text" class="form-control" name="municipio">
        </div>
        <div class="form-group">
          <label>Localidade</label>
          <input value="<%= site.localidade %>" type="text" class="form-control" name="localidade">
        </div>

        <div class="form-group textarea">
          <label>Descrição</label>
          <textarea value="<%= site.descricao %>" rows="5" class="form-control" name="descricao"><%= site.descricao %></textarea>
        </div>

        <div class="btn-wrapper">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>

      </form>

    </div>

  </div>
</main>

<%- include('includes/footer') %>
