<%- include('includes/head') %>
<%- include('includes/nav') %>

<% siteSelected.forEach(site => { %>
  <main>
    <div class="container-fluid">
      <div class="row">
          <h1 class="site-title"><%= site.nome %></h1>
          
          <div class="data-infos">
            <span><h3>Latitude: <%= site.lat %></h3></span>
            <span><h3>Longitude: <%= site.long %></h3></span>
          </div>
  
          <div class="data-infos">
            <span><h3>Município: <%= site.municipio %></h3></span>
            <span><h3>Localidade: <%= site.localidade %></h3></span>
          </div>

          <div class="site-description"><%- site.descricao_html %></div>

      </div>
    </div>
  </main>
<% }); %>







<%- include('includes/footer') %>


