<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
    <div class="container-fluid">
        <div class="row">

        <div class="main-content">

            <div id="map"></div>

            <!-- <% if(sites.length > 0) { %>
            <div class="table-contacts">

            <table class="table my-3">
                <% sites.forEach(site => { %>
                <tr>
                <td><%= site.nome %></td>
                <td><%= site.cidade %></td>
                <td><%= site.lat %></td>
                <td><%= site.long %></td>
                <td><a href="/site/index/<%= site._id %>">Editar</a></td>
                <td><a class="text-danger" href="/site/delete/<%= site._id %>">Excluir</a></td>
                </tr>
                <% }); %>
            </table>

            </div>
            <% } else { %>
            <p class="text-center lead">Não foram encontrados sítios.</p>
            <% } %> -->

        </div>

        </div>
    </div>
</main>

<%- include('includes/footer') %>
